  .root {
    flex-grow: 1
  }
  .appBar{
    border-radius: 20px;
  }

  .navigationTable{
    margin-left: 82%;
  }
  .logo{
    width: 10%;
    min-width: 200px;
  }

  .leftAlign{
    text-align: left;
  }

  .rightAlign{
    text-align: left;
  }


