
  .root {
    color: #ffffff;
  }

  .sideBar{
    border-radius: 20px;
    margin-top: 15px;
    height: 87vh;
    min-width: 25vh;
    padding: 10px;
  }

  .MuiTreeItem-content {
    flex-direction: row-reverse;
    border-radius: 10px;
  }
  .group {
    margin-left: 0;
  }
  .label {
    font-weight: inherit;
  }
  .labelRoot {
    display: flex;
    color: #ffffff;
    padding: 15px;
  }
 

  .labelText {
    font-weight: inherit;
    text-align: left;
    flex-grow: 1;
  }
