.App {
  text-align: center;
  margin:15px;
  height: 95vh;
  min-height: 95vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper .fade-enter {
  opacity: 0.01;
}

.wrapper .fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.wrapper .fade-exit {
  opacity: 1;
}

.wrapper .fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.wrapper div.transition-group {
  position: relative;
}

.wrapper section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
