.no-border{
    border: 0 !important;
}

.MuiDataGrid-root .MuiDataGrid-columnsContainer{
    border: 0 !important;
}

.MuiDataGrid-cell, .MuiDataGrid-colCell{
    color:white;
    font-weight: bold;
    margin-right:25px !important;
    padding-left:15px !important;
    text-align: left;
}

.MuiDataGrid-colCellTitle{
    font-weight: bolder !important;
}

.MuiDataGrid-colCell{
    background-color: #3A4047;
    height:50px;
    border-bottom:1px solid rgba(224, 224, 224, 1) !important;
}

.MuiDataGrid-root .MuiDataGrid-iconSeparator{
    display: none;
}

.MuiDataGrid-root .MuiDataGrid-withBorder{
    border-right: 0 !important;
    border-bottom:1px solid rgba(224, 224, 224, 1) !important;
}

.MuiDataGrid-root .MuiDataGrid-footer{
    justify-content: space-around !important;
    color:white !important;
}

.MuiPaginationItem-textPrimary.Mui-selected {
    color: #fff;
    background-color: #3A4047 !important;
}

.MuiPaginationItem-page.Mui-selected{
    background-color: #3A4047 !important;
}